In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import calendar

In [2]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras.callbacks import EarlyStopping

from sklearn.model_selection import GridSearchCV, cross_val_score, cross_validate, KFold, train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.utils import to_categorical

In [3]:
#importing csvs
features = pd.read_csv("/features+data.csv")
sales = pd.read_csv("/sales+data.csv")
stores = pd.read_csv("/stores+data.csv")
display(features.head(),sales.head(),stores.head())

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [4]:
#analysing feature data frame
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [5]:
features.isnull().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [6]:
features.describe()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,8190.000000,8190.000000,8190.000000,4032.000000,2921.000000,3613.000000,3464.000000,4050.000000,7605.000000,7605.000000
mean,23.000000,59.356198,3.405992,7032.371786,3384.176594,1760.100180,3292.935886,4132.216422,172.460809,7.826821
std,12.987966,18.678607,0.431337,9262.747448,8793.583016,11276.462208,6792.329861,13086.690278,39.738346,1.877259
min,1.000000,-7.290000,2.472000,-2781.450000,-265.760000,-179.260000,0.220000,-185.170000,126.064000,3.684000
25%,12.000000,45.902500,3.041000,1577.532500,68.880000,6.600000,304.687500,1440.827500,132.364839,6.634000
50%,23.000000,60.710000,3.513000,4743.580000,364.570000,36.260000,1176.425000,2727.135000,182.764003,7.806000
75%,34.000000,73.880000,3.743000,8923.310000,2153.350000,163.150000,3310.007500,4832.555000,213.932412,8.567000
max,45.000000,101.950000,4.468000,103184.980000,104519.540000,149483.310000,67474.850000,771448.100000,228.976456,14.313000

In [7]:
features['IsHoliday'].value_counts()

False    7605
True      585
Name: IsHoliday, dtype: int64

In [8]:
features['Date'] = pd.to_datetime(features['Date'])
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   datetime64[ns]
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(9), int64(1)
memory usage: 712.0 KB

In [9]:
#analysing sales dataframe
print(sales.info())
print("***************")
print("Null values:")
print(sales.isnull().sum())
display(sales.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB
None
***************
Null values:
Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

               Store           Dept   Weekly_Sales
count  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123
std        12.785297      30.492054   22711.183519
min         1.000000       1.000000   -4988.940000
25%        11.000000      18.000000    2079.650000
50%        22.000000      37.000000    7612.030000
75%        33.000000      74.000000   20205.852500
max        45.000000      99.000000  693099.360000

In [10]:
sales['Date'] = pd.to_datetime(sales['Date'])
sales['Year'], sales['Month'], sales['Day'] = sales.Date.dt.year, sales.Date.dt.month, sales.Date.dt.day
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Year          421570 non-null  int64
 6   Month         421570 non-null  int64
 7   Day           421570 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(5)
memory usage: 22.9 MB
None

In [11]:
display(sales[['Month', 'Weekly_Sales']].groupby('Month', as_index = False).agg({'Weekly_Sales':'mean'}))
print("*************************")
display(sales[['Day', 'Weekly_Sales']].groupby('Day', as_index = False).agg({'Weekly_Sales':'mean'}))

    Month  Weekly_Sales
0       1  14503.308110
1       2  16026.823127
2       3  15631.676728
3       4  15638.149799
4       5  15850.122787
5       6  16258.141930
6       7  15563.149206
7       8  16012.023938
8       9  15378.844836
9      10  15728.044488
10     11  17271.744814
11     12  18342.245834

*************************

    Day  Weekly_Sales
0     1  14862.139543
1     2  16204.119757
2     3  15673.992298
3     4  16293.445430
4     5  16006.023215
5     6  16643.308298
6     7  16629.640035
7     8  16154.589662
8     9  15831.878770
9    10  15427.488477
10   11  16051.333257
11   12  17689.900215
12   13  15358.628217
13   14  14843.544775
14   15  15476.565690
15   16  16400.916009
16   17  16890.881861
17   18  15914.848035
18   19  15634.121093
19   20  15236.067426
20   21  14987.074671
21   22  15696.588300
22   23  17183.530448
23   24  17732.369226
24   25  16816.726353
25   26  16742.479327
26   27  14908.182971
27   28  15056.847856
28   29  15117.011770
29   30  15038.411334
30   31  14833.557736

In [12]:
#Analysing stores data frame
print(stores.info())
print("Null values:")
print(stores.isnull().sum())
display(stores.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB
None
Null values:
Store    0
Type     0
Size     0
dtype: int64

           Store           Size
count  45.000000      45.000000
mean   23.000000  130287.600000
std    13.133926   63825.271991
min     1.000000   34875.000000
25%    12.000000   70713.000000
50%    23.000000  126512.000000
75%    34.000000  202307.000000
max    45.000000  219622.000000

In [13]:
sales_store = sales.merge(stores, on = ['Store'], how='left')
print(sales_store.shape)
sales_store.columns

(421570, 10)

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday', 'Year', 'Month',
       'Day', 'Type', 'Size'],
      dtype='object')

In [14]:
merged_data = pd.merge(sales_store, features, how = 'left', on=['Store','Date','IsHoliday'])
print(merged_data.shape)
merged_data.columns

(421570, 19)

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday', 'Year', 'Month',
       'Day', 'Type', 'Size', 'Temperature', 'Fuel_Price', 'MarkDown1',
       'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI',
       'Unemployment'],
      dtype='object')

In [15]:
merged_data.dropna(inplace=True)

In [16]:
merged_data

,Store,Dept,Date,Weekly_Sales,IsHoliday,Year,Month,Day,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
92,1,1,2011-11-11,18689.54,False,2011,11,11,A,151315,59.11,3.297,10382.90,6115.67,215.07,2406.62,6551.42,217.998085,7.866
93,1,1,2011-11-18,19050.66,False,2011,11,18,A,151315,62.25,3.308,6074.12,254.39,51.98,427.39,5988.57,218.220509,7.866
94,1,1,2011-11-25,20911.25,True,2011,11,25,A,151315,60.14,3.236,410.31,98.00,55805.51,8.00,554.92,218.467621,7.866
95,1,1,2011-02-12,25293.49,False,2011,2,12,A,151315,48.91,3.172,5629.51,68.00,1398.11,2084.64,20475.32,218.714733,7.866
96,1,1,2011-09-12,33305.92,False,2011,9,12,A,151315,43.93,3.158,4640.65,19.00,105.02,3639.42,14461.82,218.961846,7.866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421561,45,98,2012-08-31,346.04,False,2012,8,31,B,118221,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,191.461281,8.684
421562,45,98,2012-07-09,352.44,True,2012,7,9,B,118221,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,191.577676,8.684
421564,45,98,2012-09-21,467.30,False,2012,9,21,B,118221,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,191.856704,8.684
421565,45,98,2012-09-28,508.37,False,2012,9,28,B,118221,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684
421569,45,98,2012-10-26,1076.80,False,2012,10,26,B,118221,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667

In [17]:
highstore = merged_data[['Store', 'Weekly_Sales']].groupby('Store', as_index = False).agg({'Weekly_Sales':'sum'})
highstore.sort_values(by = 'Weekly_Sales',ascending=False)

    Store  Weekly_Sales
19     20   95584470.15
3       4   89317174.91
12     13   88040357.30
1       2   80748967.22
13     14   76185715.59
26     27   72882457.89
5       6   67525366.48
0       1   66294479.23
9      10   63329254.85
38     39   61945882.77
23     24   58414456.93
18     19   57617239.41
30     31   57252872.27
40     41   55650920.90
10     11   55479536.23
22     23   53576834.07
27     28   53148920.69
31     32   50731105.56
17     18   43062984.83
11     12   39508882.18
33     34   39043716.81
25     26   38364198.33
7       8   36717605.16
39     40   35398251.05
21     22   34487504.11
44     45   32423070.61
16     17   28465611.64
20     21   28370360.19
24     25   27742201.47
14     15   22507760.66
34     35   22484417.07
6       7   22459655.48
28     29   18342219.18
15     16   15426767.46
8       9   13187162.22
2       3   12669073.62
4       5    9706359.80
37     38    2651534.95
41     42    1702676.64
29     30    1329752.21
42     43    1267321.69
36     37    1006751.85
32     33     481660.19
35     36     310982.87
43     44     303438.24

In [18]:
highdept = merged_data[['Dept', 'Weekly_Sales']].groupby('Dept', as_index = False).agg({'Weekly_Sales':'sum'})
highdept.sort_values(by = 'Weekly_Sales',ascending=False)

    Dept  Weekly_Sales
73    92  1.250757e+08
76    95  1.091220e+08
36    38  9.124449e+07
60    72  8.513064e+07
38    40  7.392061e+07
..   ...           ...
45    47  2.010900e+03
49    51  3.765000e+02
63    78  2.024000e+02
37    39  4.072000e+01
41    43  5.570000e+00

[81 rows x 2 columns]

In [19]:
#Create dummy variables
def multipledummies(df, non_numerical_columns):
    for i in non_numerical_columns:
        one_hot = pd.get_dummies(df[i], prefix=i)
        df = df.join(one_hot)
        df.drop(i, axis = 1, inplace=True)
    return df

In [20]:
merged_data = multipledummies(merged_data, ['Type'])
merged_data = multipledummies(merged_data,['IsHoliday'])
print(merged_data.shape)
merged_data.head()

(97056, 22)

,Store,Dept,Date,Weekly_Sales,Year,Month,Day,Size,Temperature,Fuel_Price,...,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type_A,Type_B,Type_C,IsHoliday_False,IsHoliday_True
92,1,1,2011-11-11,18689.54,2011,11,11,151315,59.11,3.297,...,215.07,2406.62,6551.42,217.998085,7.866,1,0,0,1,0
93,1,1,2011-11-18,19050.66,2011,11,18,151315,62.25,3.308,...,51.98,427.39,5988.57,218.220509,7.866,1,0,0,1,0
94,1,1,2011-11-25,20911.25,2011,11,25,151315,60.14,3.236,...,55805.51,8.00,554.92,218.467621,7.866,1,0,0,0,1
95,1,1,2011-02-12,25293.49,2011,2,12,151315,48.91,3.172,...,1398.11,2084.64,20475.32,218.714733,7.866,1,0,0,1,0
96,1,1,2011-09-12,33305.92,2011,9,12,151315,43.93,3.158,...,105.02,3639.42,14461.82,218.961846,7.866,1,0,0,1,0

In [21]:
#Drop irrelevant features if there are any (Ex- Date)
merged_data= merged_data.drop(['Date'], axis = 1) 
merged_data.shape

(97056, 21)

In [22]:
print(merged_data.shape)
index_names = merged_data[ merged_data['Weekly_Sales'] <100].index
merged_data.drop(index_names, inplace = True)
print(merged_data.shape)

(97056, 21)
(93081, 21)

In [23]:
#Segregate the target column
X=merged_data.drop('Weekly_Sales',axis=1)
y=merged_data['Weekly_Sales']

#Standardize the independent data using StandardScaler
scaler=StandardScaler()
scaled_data=scaler.fit_transform(X)
scaled_data=pd.DataFrame(scaled_data)
scaled_data.columns=X.columns
scaled_data.head()

X = scaled_data
#Split the above data into two parts
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.20, random_state=42)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(74464, 20) (18617, 20) (74464,) (18617,)

In [24]:
def r_square(y_true, y_pred):
    from keras import backend as K
    SS_res =  K.sum(K.square(y_true - y_pred)) 
    SS_tot = K.sum(K.square(y_true - K.mean(y_true))) 
    return (1 - SS_res/(SS_tot + K.epsilon()))

In [25]:
#Building the neural networks model
model = Sequential([Input(shape=(20,)), 
                   Dense(256, activation='relu'), 
                   Dense(128, activation='relu'),
                   Dense(64,activation='relu'),
                   Dense(32,activation='relu'),
                   Dense(1, activation='linear')])

In [26]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 256)               5376

 dense_1 (Dense)             (None, 128)               32896

 dense_2 (Dense)             (None, 64)                8256

 dense_3 (Dense)             (None, 32)                2080

 dense_4 (Dense)             (None, 1)                 33

=================================================================
Total params: 48,641
Trainable params: 48,641
Non-trainable params: 0
_________________________________________________________________

In [43]:
from tensorflow.keras.layers import Dropout, BatchNormalization
model_dropout = Sequential()
model_dropout.add(Dense(256, input_shape = (20,), activation='relu'))
model_dropout.add(Dropout(0.2))
model_dropout.add(Dense(128, activation='relu'))
model_dropout.add(Dropout(0.2))
model_dropout.add(Dense(64, activation='relu'))
model_dropout.add(Dropout(0.2))
model_dropout.add(Dense(32, activation='relu'))
model_dropout.add(Dropout(0.2))
model_dropout.add(Dense(1, activation='linear'))

In [44]:
model_dropout.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 256)               5376

 dropout_4 (Dropout)         (None, 256)               0

 dense_15 (Dense)            (None, 128)               32896

 dropout_5 (Dropout)         (None, 128)               0

 dense_16 (Dense)            (None, 64)                8256

 dropout_6 (Dropout)         (None, 64)                0

 dense_17 (Dense)            (None, 32)                2080

 dropout_7 (Dropout)         (None, 32)                0

 dense_18 (Dense)            (None, 1)                 33

=================================================================
Total params: 48,641
Trainable params: 48,641
Non-trainable params: 0
_________________________________________________________________

In [48]:
from tensorflow.keras.layers import Dropout, BatchNormalization
model_BN = Sequential()
model_BN.add(Dense(256, input_shape = (20,), activation='relu'))
model_BN.add(BatchNormalization(momentum=0.8))
model_BN.add(Dense(128, activation='relu'))
model_BN.add(BatchNormalization(momentum=0.8))
model_BN.add(Dense(64, activation='relu'))
model_BN.add(BatchNormalization(momentum=0.8))
model_BN.add(Dense(32, activation='relu'))
model_BN.add(BatchNormalization(momentum=0.8))
model_BN.add(Dense(2, activation='linear'))

In [49]:
model_BN.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 256)               5376

 batch_normalization_2 (Batc  (None, 256)              1024
 hNormalization)

 dense_20 (Dense)            (None, 128)               32896

 batch_normalization_3 (Batc  (None, 128)              512
 hNormalization)

 dense_21 (Dense)            (None, 64)                8256

 batch_normalization_4 (Batc  (None, 64)               256
 hNormalization)

 dense_22 (Dense)            (None, 32)                2080

 batch_normalization_5 (Batc  (None, 32)               128
 hNormalization)

 dense_23 (Dense)            (None, 2)                 66

=================================================================
Total params: 50,594
Trainable params: 49,634
Non-trainable params: 960
_________________________________________________________________

In [39]:
# from tensorflow.keras.optimizers import Adam
from tensorflow.keras.optimizers import SGD

OPTIMIZER = tf.keras.optimizers.SGD(learning_rate=0.0001)
model.compile(loss='mean_absolute_error',
              optimizer=OPTIMIZER, metrics=[r_square,'MAE'])

In [40]:
#training the model
train = model.fit(X_train, y_train, validation_data=(X_test,y_test), epochs=100,batch_size=64)

Epoch 1/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12600.0410 - r_square: 0.1373 - MAE: 12600.0410 - val_loss: 12408.0605 - val_r_square: 0.1413 - val_MAE: 12408.0605
Epoch 2/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12378.8184 - r_square: 0.1597 - MAE: 12378.8184 - val_loss: 12342.2285 - val_r_square: 0.1727 - val_MAE: 12342.2285
Epoch 3/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12318.7471 - r_square: 0.1671 - MAE: 12318.7471 - val_loss: 12223.7207 - val_r_square: 0.1630 - val_MAE: 12223.7207
Epoch 4/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12280.0498 - r_square: 0.1710 - MAE: 12280.0498 - val_loss: 12221.9551 - val_r_square: 0.1919 - val_MAE: 12221.9551
Epoch 5/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12259.2842 - r_square: 0.1727 - MAE: 12259.2842 - val_loss: 12200.8311 - val_r_square: 0.1893 - val_MAE: 12200.8311
Epoch 6/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12240.0400 - r_square: 0.1766 - MAE: 12240.0400 - val_loss: 12162.4590 - val_r_square: 0.1822 - val_MAE: 12162.4590
Epoch 7/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12207.0137 - r_square: 0.1823 - MAE: 12207.0137 - val_loss: 12225.3936 - val_r_square: 0.1532 - val_MAE: 12225.3936
Epoch 8/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12199.5137 - r_square: 0.1786 - MAE: 12199.5137 - val_loss: 12137.8438 - val_r_square: 0.1965 - val_MAE: 12137.8438
Epoch 9/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12190.4404 - r_square: 0.1818 - MAE: 12190.4404 - val_loss: 12176.7412 - val_r_square: 0.2122 - val_MAE: 12176.7412
Epoch 10/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12180.0664 - r_square: 0.1823 - MAE: 12180.0664 - val_loss: 12195.8975 - val_r_square: 0.2134 - val_MAE: 12195.8975
Epoch 11/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12164.1113 - r_square: 0.1803 - MAE: 12164.1113 - val_loss: 12114.0859 - val_r_square: 0.1923 - val_MAE: 12114.0859
Epoch 12/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12154.9932 - r_square: 0.1871 - MAE: 12154.9932 - val_loss: 12074.0996 - val_r_square: 0.1859 - val_MAE: 12074.0996
Epoch 13/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12146.6006 - r_square: 0.1878 - MAE: 12146.6006 - val_loss: 12108.0332 - val_r_square: 0.2076 - val_MAE: 12108.0332
Epoch 14/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12141.9131 - r_square: 0.1874 - MAE: 12141.9131 - val_loss: 12091.6787 - val_r_square: 0.1995 - val_MAE: 12091.6787
Epoch 15/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12130.8877 - r_square: 0.1867 - MAE: 12130.8877 - val_loss: 12161.2012 - val_r_square: 0.1658 - val_MAE: 12161.2012
Epoch 16/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12122.4844 - r_square: 0.1891 - MAE: 12122.4844 - val_loss: 12090.3135 - val_r_square: 0.2121 - val_MAE: 12090.3135
Epoch 17/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12110.5654 - r_square: 0.1917 - MAE: 12110.5654 - val_loss: 12045.7168 - val_r_square: 0.2123 - val_MAE: 12045.7168
Epoch 18/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12111.0566 - r_square: 0.1918 - MAE: 12111.0566 - val_loss: 12048.5684 - val_r_square: 0.1993 - val_MAE: 12048.5684
Epoch 19/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12105.1865 - r_square: 0.1881 - MAE: 12105.1865 - val_loss: 12078.7129 - val_r_square: 0.1849 - val_MAE: 12078.7129
Epoch 20/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12095.1016 - r_square: 0.1950 - MAE: 12095.1016 - val_loss: 12065.6445 - val_r_square: 0.1843 - val_MAE: 12065.6445
Epoch 21/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12082.8867 - r_square: 0.1963 - MAE: 12082.8867 - val_loss: 12035.0420 - val_r_square: 0.1923 - val_MAE: 12035.0420
Epoch 22/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12077.3438 - r_square: 0.1957 - MAE: 12077.3438 - val_loss: 12033.7559 - val_r_square: 0.2001 - val_MAE: 12033.7559
Epoch 23/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12062.5176 - r_square: 0.1978 - MAE: 12062.5176 - val_loss: 12012.7881 - val_r_square: 0.1987 - val_MAE: 12012.7881
Epoch 24/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12063.3066 - r_square: 0.1995 - MAE: 12063.3066 - val_loss: 12006.3174 - val_r_square: 0.2004 - val_MAE: 12006.3174
Epoch 25/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12054.3379 - r_square: 0.1990 - MAE: 12054.3379 - val_loss: 12011.3613 - val_r_square: 0.1948 - val_MAE: 12011.3613
Epoch 26/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12042.1328 - r_square: 0.1960 - MAE: 12042.1328 - val_loss: 12035.7461 - val_r_square: 0.2257 - val_MAE: 12035.7461
Epoch 27/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12036.1895 - r_square: 0.1999 - MAE: 12036.1895 - val_loss: 12055.9756 - val_r_square: 0.1906 - val_MAE: 12055.9756
Epoch 28/100
1164/1164 [==============================] - 3s 3ms/step - loss: 12025.2197 - r_square: 0.1984 - MAE: 12025.2197 - val_loss: 12003.4121 - val_r_square: 0.2147 - val_MAE: 12003.4121
Epoch 29/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12013.3779 - r_square: 0.2054 - MAE: 12013.3779 - val_loss: 12010.5566 - val_r_square: 0.2133 - val_MAE: 12010.5566
Epoch 30/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12006.8750 - r_square: 0.2004 - MAE: 12006.8750 - val_loss: 11997.2461 - val_r_square: 0.2043 - val_MAE: 11997.2461
Epoch 31/100
1164/1164 [==============================] - 3s 3ms/step - loss: 11987.1943 - r_square: 0.2062 - MAE: 11987.1943 - val_loss: 12014.4541 - val_r_square: 0.1926 - val_MAE: 12014.4541
Epoch 32/100
1164/1164 [==============================] - 3s 3ms/step - loss: 11982.3652 - r_square: 0.2083 - MAE: 11982.3652 - val_loss: 11989.0889 - val_r_square: 0.2354 - val_MAE: 11989.0889
Epoch 33/100
1164/1164 [==============================] - 4s 3ms/step - loss: 11967.4873 - r_square: 0.2085 - MAE: 11967.4873 - val_loss: 11943.8740 - val_r_square: 0.2254 - val_MAE: 11943.8740
Epoch 34/100
1164/1164 [==============================] - 3s 3ms/step - loss: 11954.5488 - r_square: 0.2110 - MAE: 11954.5488 - val_loss: 11912.0430 - val_r_square: 0.2199 - val_MAE: 11912.0430
Epoch 35/100
1164/1164 [==============================] - 4s 3ms/step - loss: 11936.0488 - r_square: 0.2150 - MAE: 11936.0488 - val_loss: 11997.7871 - val_r_square: 0.2421 - val_MAE: 11997.7871
Epoch 36/100
1164/1164 [==============================] - 4s 3ms/step - loss: 11921.3164 - r_square: 0.2153 - MAE: 11921.3164 - val_loss: 11900.4922 - val_r_square: 0.2073 - val_MAE: 11900.4922
Epoch 37/100
1164/1164 [==============================] - 3s 3ms/step - loss: 11904.1611 - r_square: 0.2146 - MAE: 11904.1611 - val_loss: 12165.8369 - val_r_square: 0.1697 - val_MAE: 12165.8369
Epoch 38/100
1164/1164 [==============================] - 4s 3ms/step - loss: 11866.4121 - r_square: 0.2239 - MAE: 11866.4121 - val_loss: 11970.4590 - val_r_square: 0.1985 - val_MAE: 11970.4590
Epoch 39/100
1164/1164 [==============================] - 4s 3ms/step - loss: 11834.5576 - r_square: 0.2297 - MAE: 11834.5576 - val_loss: 11792.3955 - val_r_square: 0.2285 - val_MAE: 11792.3955
Epoch 40/100
1164/1164 [==============================] - 3s 3ms/step - loss: 11787.0283 - r_square: 0.2319 - MAE: 11787.0283 - val_loss: 11709.0859 - val_r_square: 0.2480 - val_MAE: 11709.0859
Epoch 41/100
1164/1164 [==============================] - 3s 3ms/step - loss: 11695.7314 - r_square: 0.2434 - MAE: 11695.7314 - val_loss: 12018.5078 - val_r_square: 0.1624 - val_MAE: 12018.5078
Epoch 42/100
1164/1164 [==============================] - 3s 3ms/step - loss: 11567.8750 - r_square: 0.2555 - MAE: 11567.8750 - val_loss: 11543.7354 - val_r_square: 0.2864 - val_MAE: 11543.7354
Epoch 43/100
1164/1164 [==============================] - 3s 3ms/step - loss: 11417.4121 - r_square: 0.2691 - MAE: 11417.4121 - val_loss: 11222.6797 - val_r_square: 0.2999 - val_MAE: 11222.6797
Epoch 44/100
1164/1164 [==============================] - 3s 3ms/step - loss: 11268.2500 - r_square: 0.2885 - MAE: 11268.2500 - val_loss: 11487.4443 - val_r_square: 0.3088 - val_MAE: 11487.4443
Epoch 45/100
1164/1164 [==============================] - 4s 3ms/step - loss: 11211.0342 - r_square: 0.2934 - MAE: 11211.0342 - val_loss: 11289.7773 - val_r_square: 0.3309 - val_MAE: 11289.7773
Epoch 46/100
1164/1164 [==============================] - 4s 3ms/step - loss: 11122.1006 - r_square: 0.3039 - MAE: 11122.1006 - val_loss: 11139.1631 - val_r_square: 0.2708 - val_MAE: 11139.1631
Epoch 47/100
1164/1164 [==============================] - 3s 3ms/step - loss: 11065.5205 - r_square: 0.3051 - MAE: 11065.5205 - val_loss: 11545.4746 - val_r_square: 0.2317 - val_MAE: 11545.4746
Epoch 48/100
1164/1164 [==============================] - 4s 3ms/step - loss: 11028.1211 - r_square: 0.3110 - MAE: 11028.1211 - val_loss: 11320.6270 - val_r_square: 0.2417 - val_MAE: 11320.6270
Epoch 49/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10944.8174 - r_square: 0.3207 - MAE: 10944.8174 - val_loss: 10965.9648 - val_r_square: 0.3533 - val_MAE: 10965.9648
Epoch 50/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10888.7529 - r_square: 0.3270 - MAE: 10888.7529 - val_loss: 11652.6885 - val_r_square: 0.3390 - val_MAE: 11652.6885
Epoch 51/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10801.4043 - r_square: 0.3311 - MAE: 10801.4043 - val_loss: 11224.7109 - val_r_square: 0.2434 - val_MAE: 11224.7109
Epoch 52/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10757.0176 - r_square: 0.3354 - MAE: 10757.0176 - val_loss: 11107.1924 - val_r_square: 0.2806 - val_MAE: 11107.1924
Epoch 53/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10709.6055 - r_square: 0.3373 - MAE: 10709.6055 - val_loss: 10627.6328 - val_r_square: 0.3692 - val_MAE: 10627.6328
Epoch 54/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10613.0918 - r_square: 0.3512 - MAE: 10613.0918 - val_loss: 10766.1406 - val_r_square: 0.3134 - val_MAE: 10766.1406
Epoch 55/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10572.2969 - r_square: 0.3567 - MAE: 10572.2969 - val_loss: 10686.0352 - val_r_square: 0.3652 - val_MAE: 10686.0352
Epoch 56/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10542.6279 - r_square: 0.3524 - MAE: 10542.6279 - val_loss: 10525.6748 - val_r_square: 0.3466 - val_MAE: 10525.6748
Epoch 57/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10516.8457 - r_square: 0.3526 - MAE: 10516.8457 - val_loss: 10683.6270 - val_r_square: 0.3483 - val_MAE: 10683.6270
Epoch 58/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10478.4570 - r_square: 0.3602 - MAE: 10478.4570 - val_loss: 10453.3506 - val_r_square: 0.3701 - val_MAE: 10453.3506
Epoch 59/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10451.9990 - r_square: 0.3617 - MAE: 10451.9990 - val_loss: 10575.5811 - val_r_square: 0.3765 - val_MAE: 10575.5811
Epoch 60/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10442.9941 - r_square: 0.3627 - MAE: 10442.9941 - val_loss: 10410.8828 - val_r_square: 0.3575 - val_MAE: 10410.8828
Epoch 61/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10402.6426 - r_square: 0.3712 - MAE: 10402.6426 - val_loss: 11324.1104 - val_r_square: 0.2176 - val_MAE: 11324.1104
Epoch 62/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10378.1787 - r_square: 0.3670 - MAE: 10378.1787 - val_loss: 10858.5996 - val_r_square: 0.3848 - val_MAE: 10858.5996
Epoch 63/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10346.4629 - r_square: 0.3779 - MAE: 10346.4629 - val_loss: 10533.7432 - val_r_square: 0.3508 - val_MAE: 10533.7432
Epoch 64/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10311.7676 - r_square: 0.3801 - MAE: 10311.7676 - val_loss: 10410.6201 - val_r_square: 0.3391 - val_MAE: 10410.6201
Epoch 65/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10302.3164 - r_square: 0.3788 - MAE: 10302.3164 - val_loss: 10536.4355 - val_r_square: 0.3244 - val_MAE: 10536.4355
Epoch 66/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10276.9902 - r_square: 0.3786 - MAE: 10276.9902 - val_loss: 10281.5576 - val_r_square: 0.3773 - val_MAE: 10281.5576
Epoch 67/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10255.5234 - r_square: 0.3855 - MAE: 10255.5234 - val_loss: 10394.6533 - val_r_square: 0.3625 - val_MAE: 10394.6533
Epoch 68/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10235.7432 - r_square: 0.3839 - MAE: 10235.7432 - val_loss: 10559.9404 - val_r_square: 0.3870 - val_MAE: 10559.9404
Epoch 69/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10217.2305 - r_square: 0.3877 - MAE: 10217.2305 - val_loss: 10282.4375 - val_r_square: 0.3735 - val_MAE: 10282.4375
Epoch 70/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10194.9951 - r_square: 0.3903 - MAE: 10194.9951 - val_loss: 10314.0605 - val_r_square: 0.3700 - val_MAE: 10314.0605
Epoch 71/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10190.8477 - r_square: 0.3897 - MAE: 10190.8477 - val_loss: 10152.5557 - val_r_square: 0.4177 - val_MAE: 10152.5557
Epoch 72/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10159.6787 - r_square: 0.3944 - MAE: 10159.6787 - val_loss: 10915.3154 - val_r_square: 0.2898 - val_MAE: 10915.3154
Epoch 73/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10142.3408 - r_square: 0.3944 - MAE: 10142.3408 - val_loss: 10206.7725 - val_r_square: 0.3770 - val_MAE: 10206.7725
Epoch 74/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10136.0830 - r_square: 0.3979 - MAE: 10136.0830 - val_loss: 10878.5146 - val_r_square: 0.3797 - val_MAE: 10878.5146
Epoch 75/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10104.7910 - r_square: 0.3968 - MAE: 10104.7910 - val_loss: 10536.6533 - val_r_square: 0.3712 - val_MAE: 10536.6533
Epoch 76/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10097.3086 - r_square: 0.3986 - MAE: 10097.3086 - val_loss: 10232.9395 - val_r_square: 0.3686 - val_MAE: 10232.9395
Epoch 77/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10075.5020 - r_square: 0.4037 - MAE: 10075.5020 - val_loss: 10134.8750 - val_r_square: 0.4131 - val_MAE: 10134.8750
Epoch 78/100
1164/1164 [==============================] - 3s 3ms/step - loss: 10043.8340 - r_square: 0.4063 - MAE: 10043.8340 - val_loss: 9998.2256 - val_r_square: 0.4166 - val_MAE: 9998.2256
Epoch 79/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10002.3955 - r_square: 0.4106 - MAE: 10002.3955 - val_loss: 10234.0996 - val_r_square: 0.4063 - val_MAE: 10234.0996
Epoch 80/100
1164/1164 [==============================] - 4s 3ms/step - loss: 10009.9189 - r_square: 0.4111 - MAE: 10009.9189 - val_loss: 10061.2178 - val_r_square: 0.4101 - val_MAE: 10061.2178
Epoch 81/100
1164/1164 [==============================] - 4s 3ms/step - loss: 9971.8564 - r_square: 0.4146 - MAE: 9971.8564 - val_loss: 10186.0566 - val_r_square: 0.3775 - val_MAE: 10186.0566
Epoch 82/100
1164/1164 [==============================] - 3s 3ms/step - loss: 9967.8730 - r_square: 0.4158 - MAE: 9967.8730 - val_loss: 9949.1592 - val_r_square: 0.4082 - val_MAE: 9949.1592
Epoch 83/100
1164/1164 [==============================] - 3s 3ms/step - loss: 9938.9717 - r_square: 0.4193 - MAE: 9938.9717 - val_loss: 9956.7539 - val_r_square: 0.4343 - val_MAE: 9956.7539
Epoch 84/100
1164/1164 [==============================] - 3s 3ms/step - loss: 9905.0352 - r_square: 0.4244 - MAE: 9905.0352 - val_loss: 10074.4922 - val_r_square: 0.3828 - val_MAE: 10074.4922
Epoch 85/100
1164/1164 [==============================] - 3s 3ms/step - loss: 9887.8408 - r_square: 0.4257 - MAE: 9887.8408 - val_loss: 10168.7100 - val_r_square: 0.4354 - val_MAE: 10168.7100
Epoch 86/100
1164/1164 [==============================] - 3s 3ms/step - loss: 9883.1777 - r_square: 0.4258 - MAE: 9883.1777 - val_loss: 10178.2109 - val_r_square: 0.3658 - val_MAE: 10178.2109
Epoch 87/100
1164/1164 [==============================] - 3s 3ms/step - loss: 9846.1631 - r_square: 0.4257 - MAE: 9846.1631 - val_loss: 9967.8145 - val_r_square: 0.4007 - val_MAE: 9967.8145
Epoch 88/100
1164/1164 [==============================] - 4s 3ms/step - loss: 9837.9600 - r_square: 0.4249 - MAE: 9837.9600 - val_loss: 10306.3379 - val_r_square: 0.3964 - val_MAE: 10306.3379
Epoch 89/100
1164/1164 [==============================] - 4s 3ms/step - loss: 9816.2373 - r_square: 0.4282 - MAE: 9816.2373 - val_loss: 9990.8896 - val_r_square: 0.4096 - val_MAE: 9990.8896
Epoch 90/100
1164/1164 [==============================] - 4s 3ms/step - loss: 9801.7246 - r_square: 0.4313 - MAE: 9801.7246 - val_loss: 9898.1699 - val_r_square: 0.4094 - val_MAE: 9898.1699
Epoch 91/100
1164/1164 [==============================] - 4s 3ms/step - loss: 9788.9854 - r_square: 0.4307 - MAE: 9788.9854 - val_loss: 9883.8193 - val_r_square: 0.4261 - val_MAE: 9883.8193
Epoch 92/100
1164/1164 [==============================] - 3s 3ms/step - loss: 9758.6201 - r_square: 0.4317 - MAE: 9758.6201 - val_loss: 9877.7881 - val_r_square: 0.4375 - val_MAE: 9877.7881
Epoch 93/100
1164/1164 [==============================] - 3s 3ms/step - loss: 9749.7236 - r_square: 0.4345 - MAE: 9749.7236 - val_loss: 10263.4893 - val_r_square: 0.3719 - val_MAE: 10263.4893
Epoch 94/100
1164/1164 [==============================] - 4s 3ms/step - loss: 9758.8418 - r_square: 0.4334 - MAE: 9758.8418 - val_loss: 9829.3252 - val_r_square: 0.4130 - val_MAE: 9829.3252
Epoch 95/100
1164/1164 [==============================] - 4s 3ms/step - loss: 9743.9990 - r_square: 0.4353 - MAE: 9743.9990 - val_loss: 10076.6348 - val_r_square: 0.4153 - val_MAE: 10076.6348
Epoch 96/100
1164/1164 [==============================] - 3s 3ms/step - loss: 9741.7783 - r_square: 0.4361 - MAE: 9741.7783 - val_loss: 9782.6387 - val_r_square: 0.4227 - val_MAE: 9782.6387
Epoch 97/100
1164/1164 [==============================] - 4s 3ms/step - loss: 9715.0889 - r_square: 0.4354 - MAE: 9715.0889 - val_loss: 9795.3926 - val_r_square: 0.4464 - val_MAE: 9795.3926
Epoch 98/100
1164/1164 [==============================] - 3s 3ms/step - loss: 9713.8018 - r_square: 0.4397 - MAE: 9713.8018 - val_loss: 10063.2793 - val_r_square: 0.4369 - val_MAE: 10063.2793
Epoch 99/100
1164/1164 [==============================] - 4s 3ms/step - loss: 9675.3223 - r_square: 0.4369 - MAE: 9675.3223 - val_loss: 10241.9688 - val_r_square: 0.4195 - val_MAE: 10241.9688
Epoch 100/100
1164/1164 [==============================] - 4s 3ms/step - loss: 9680.2109 - r_square: 0.4411 - MAE: 9680.2109 - val_loss: 9707.9150 - val_r_square: 0.4334 - val_MAE: 9707.9150

In [45]:
model_dropout.compile(loss='mean_absolute_error',
              optimizer=OPTIMIZER, metrics=[r_square,'MAE'])

In [47]:
train = model_dropout.fit(X_train, y_train, validation_data=(X_test,y_test), epochs=100,batch_size=64)

Epoch 1/100
1164/1164 [==============================] - 4s 4ms/step - loss: 18622.4883 - r_square: -0.6370 - MAE: 18622.4883 - val_loss: 18579.1113 - val_r_square: -0.6506 - val_MAE: 18579.1113
Epoch 2/100
1164/1164 [==============================] - 4s 3ms/step - loss: 17922.0117 - r_square: -0.5514 - MAE: 17922.0117 - val_loss: 14441.2168 - val_r_square: -0.0679 - val_MAE: 14441.2168
Epoch 3/100
1164/1164 [==============================] - 4s 4ms/step - loss: 13531.0498 - r_square: 0.0303 - MAE: 13531.0498 - val_loss: 12514.7998 - val_r_square: 0.1363 - val_MAE: 12514.7998
Epoch 4/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12708.1465 - r_square: 0.1209 - MAE: 12708.1465 - val_loss: 12315.5908 - val_r_square: 0.1484 - val_MAE: 12315.5908
Epoch 5/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12601.1016 - r_square: 0.1343 - MAE: 12601.1016 - val_loss: 12234.0781 - val_r_square: 0.1804 - val_MAE: 12234.0781
Epoch 6/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12565.6455 - r_square: 0.1361 - MAE: 12565.6455 - val_loss: 12271.5078 - val_r_square: 0.1526 - val_MAE: 12271.5078
Epoch 7/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12476.5625 - r_square: 0.1466 - MAE: 12476.5625 - val_loss: 12192.0684 - val_r_square: 0.1772 - val_MAE: 12192.0684
Epoch 8/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12479.3525 - r_square: 0.1473 - MAE: 12479.3525 - val_loss: 12160.7861 - val_r_square: 0.1869 - val_MAE: 12160.7861
Epoch 9/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12470.8047 - r_square: 0.1462 - MAE: 12470.8047 - val_loss: 12206.3691 - val_r_square: 0.1590 - val_MAE: 12206.3691
Epoch 10/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12435.4287 - r_square: 0.1525 - MAE: 12435.4287 - val_loss: 12121.1680 - val_r_square: 0.1920 - val_MAE: 12121.1680
Epoch 11/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12413.5654 - r_square: 0.1565 - MAE: 12413.5654 - val_loss: 12159.7334 - val_r_square: 0.1705 - val_MAE: 12159.7334
Epoch 12/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12396.4795 - r_square: 0.1592 - MAE: 12396.4795 - val_loss: 12244.9346 - val_r_square: 0.1616 - val_MAE: 12244.9346
Epoch 13/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12388.3340 - r_square: 0.1609 - MAE: 12388.3340 - val_loss: 12144.4990 - val_r_square: 0.1907 - val_MAE: 12144.4990
Epoch 14/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12378.4912 - r_square: 0.1640 - MAE: 12378.4912 - val_loss: 12120.2227 - val_r_square: 0.1799 - val_MAE: 12120.2227
Epoch 15/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12378.9844 - r_square: 0.1608 - MAE: 12378.9844 - val_loss: 12115.8799 - val_r_square: 0.2033 - val_MAE: 12115.8799
Epoch 16/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12371.9463 - r_square: 0.1624 - MAE: 12371.9463 - val_loss: 12101.7891 - val_r_square: 0.1859 - val_MAE: 12101.7891
Epoch 17/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12337.9629 - r_square: 0.1649 - MAE: 12337.9629 - val_loss: 12097.4404 - val_r_square: 0.1860 - val_MAE: 12097.4404
Epoch 18/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12327.5811 - r_square: 0.1649 - MAE: 12327.5811 - val_loss: 12127.0752 - val_r_square: 0.1679 - val_MAE: 12127.0752
Epoch 19/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12349.1201 - r_square: 0.1641 - MAE: 12349.1201 - val_loss: 12118.9707 - val_r_square: 0.1837 - val_MAE: 12118.9707
Epoch 20/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12328.4629 - r_square: 0.1649 - MAE: 12328.4629 - val_loss: 12084.9385 - val_r_square: 0.1900 - val_MAE: 12084.9385
Epoch 21/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12315.0947 - r_square: 0.1666 - MAE: 12315.0947 - val_loss: 12095.8174 - val_r_square: 0.2033 - val_MAE: 12095.8174
Epoch 22/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12288.7988 - r_square: 0.1708 - MAE: 12288.7988 - val_loss: 12053.6289 - val_r_square: 0.1861 - val_MAE: 12053.6289
Epoch 23/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12302.1270 - r_square: 0.1679 - MAE: 12302.1270 - val_loss: 12046.5537 - val_r_square: 0.1838 - val_MAE: 12046.5537
Epoch 24/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12298.4268 - r_square: 0.1692 - MAE: 12298.4268 - val_loss: 12033.0605 - val_r_square: 0.1962 - val_MAE: 12033.0605
Epoch 25/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12259.3242 - r_square: 0.1718 - MAE: 12259.3242 - val_loss: 12047.1982 - val_r_square: 0.1747 - val_MAE: 12047.1982
Epoch 26/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12247.2832 - r_square: 0.1730 - MAE: 12247.2832 - val_loss: 12003.0811 - val_r_square: 0.1861 - val_MAE: 12003.0811
Epoch 27/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12233.9824 - r_square: 0.1747 - MAE: 12233.9824 - val_loss: 11984.9082 - val_r_square: 0.2250 - val_MAE: 11984.9082
Epoch 28/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12252.3594 - r_square: 0.1728 - MAE: 12252.3594 - val_loss: 11979.8760 - val_r_square: 0.2055 - val_MAE: 11979.8760
Epoch 29/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12242.8750 - r_square: 0.1745 - MAE: 12242.8750 - val_loss: 11963.5420 - val_r_square: 0.2004 - val_MAE: 11963.5420
Epoch 30/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12211.0205 - r_square: 0.1765 - MAE: 12211.0205 - val_loss: 11955.2900 - val_r_square: 0.2037 - val_MAE: 11955.2900
Epoch 31/100
1164/1164 [==============================] - 4s 3ms/step - loss: 12208.0430 - r_square: 0.1776 - MAE: 12208.0430 - val_loss: 11913.5869 - val_r_square: 0.2191 - val_MAE: 11913.5869
Epoch 32/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12206.8457 - r_square: 0.1773 - MAE: 12206.8457 - val_loss: 11909.6299 - val_r_square: 0.2109 - val_MAE: 11909.6299
Epoch 33/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12182.2158 - r_square: 0.1788 - MAE: 12182.2158 - val_loss: 12060.2666 - val_r_square: 0.2345 - val_MAE: 12060.2666
Epoch 34/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12165.9961 - r_square: 0.1814 - MAE: 12165.9961 - val_loss: 11894.0225 - val_r_square: 0.1972 - val_MAE: 11894.0225
Epoch 35/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12147.2939 - r_square: 0.1847 - MAE: 12147.2939 - val_loss: 11924.2773 - val_r_square: 0.1817 - val_MAE: 11924.2773
Epoch 36/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12118.8232 - r_square: 0.1878 - MAE: 12118.8232 - val_loss: 11900.6465 - val_r_square: 0.1926 - val_MAE: 11900.6465
Epoch 37/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12138.5283 - r_square: 0.1782 - MAE: 12138.5283 - val_loss: 11900.9785 - val_r_square: 0.2357 - val_MAE: 11900.9785
Epoch 38/100
1164/1164 [==============================] - 4s 4ms/step - loss: 12110.1211 - r_square: 0.1887 - MAE: 12110.1211 - val_loss: 11840.6123 - val_r_square: 0.2425 - val_MAE: 11840.6123
Epoch 39/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12101.1709 - r_square: 0.1870 - MAE: 12101.1709 - val_loss: 11735.6104 - val_r_square: 0.2223 - val_MAE: 11735.6104
Epoch 40/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12065.6914 - r_square: 0.1903 - MAE: 12065.6914 - val_loss: 11724.9678 - val_r_square: 0.2256 - val_MAE: 11724.9678
Epoch 41/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12010.6816 - r_square: 0.1990 - MAE: 12010.6816 - val_loss: 11601.2695 - val_r_square: 0.2561 - val_MAE: 11601.2695
Epoch 42/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11935.0000 - r_square: 0.2053 - MAE: 11935.0000 - val_loss: 11604.5713 - val_r_square: 0.2061 - val_MAE: 11604.5713
Epoch 43/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11859.5664 - r_square: 0.2160 - MAE: 11859.5664 - val_loss: 11564.6973 - val_r_square: 0.2324 - val_MAE: 11564.6973
Epoch 44/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11816.4395 - r_square: 0.2142 - MAE: 11816.4395 - val_loss: 11731.9961 - val_r_square: 0.2331 - val_MAE: 11731.9961
Epoch 45/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11752.3496 - r_square: 0.2228 - MAE: 11752.3496 - val_loss: 11451.8682 - val_r_square: 0.2396 - val_MAE: 11451.8682
Epoch 46/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11713.4023 - r_square: 0.2335 - MAE: 11713.4023 - val_loss: 11309.7490 - val_r_square: 0.2747 - val_MAE: 11309.7490
Epoch 47/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11671.3008 - r_square: 0.2405 - MAE: 11671.3008 - val_loss: 11282.1396 - val_r_square: 0.2712 - val_MAE: 11282.1396
Epoch 48/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11637.2178 - r_square: 0.2420 - MAE: 11637.2178 - val_loss: 11193.2490 - val_r_square: 0.3262 - val_MAE: 11193.2490
Epoch 49/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11613.5176 - r_square: 0.2466 - MAE: 11613.5176 - val_loss: 11139.9502 - val_r_square: 0.2886 - val_MAE: 11139.9502
Epoch 50/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11580.3164 - r_square: 0.2466 - MAE: 11580.3164 - val_loss: 11122.1875 - val_r_square: 0.3101 - val_MAE: 11122.1875
Epoch 51/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11532.7344 - r_square: 0.2552 - MAE: 11532.7344 - val_loss: 11337.2354 - val_r_square: 0.3149 - val_MAE: 11337.2354
Epoch 52/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11526.6904 - r_square: 0.2597 - MAE: 11526.6904 - val_loss: 11075.1230 - val_r_square: 0.3071 - val_MAE: 11075.1230
Epoch 53/100
1164/1164 [==============================] - 4s 3ms/step - loss: 11508.7988 - r_square: 0.2577 - MAE: 11508.7988 - val_loss: 11270.6143 - val_r_square: 0.2633 - val_MAE: 11270.6143
Epoch 54/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11464.2461 - r_square: 0.2634 - MAE: 11464.2461 - val_loss: 11041.5283 - val_r_square: 0.3068 - val_MAE: 11041.5283
Epoch 55/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11399.0449 - r_square: 0.2745 - MAE: 11399.0449 - val_loss: 11137.5352 - val_r_square: 0.2695 - val_MAE: 11137.5352
Epoch 56/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11380.1260 - r_square: 0.2707 - MAE: 11380.1260 - val_loss: 11175.5586 - val_r_square: 0.3104 - val_MAE: 11175.5586
Epoch 57/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11353.4951 - r_square: 0.2737 - MAE: 11353.4951 - val_loss: 10895.5928 - val_r_square: 0.3270 - val_MAE: 10895.5928
Epoch 58/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11353.2080 - r_square: 0.2764 - MAE: 11353.2080 - val_loss: 10809.5596 - val_r_square: 0.3420 - val_MAE: 10809.5596
Epoch 59/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11323.8818 - r_square: 0.2790 - MAE: 11323.8818 - val_loss: 10969.8564 - val_r_square: 0.3332 - val_MAE: 10969.8564
Epoch 60/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11279.4365 - r_square: 0.2808 - MAE: 11279.4365 - val_loss: 10945.7354 - val_r_square: 0.3375 - val_MAE: 10945.7354
Epoch 61/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11246.3896 - r_square: 0.2885 - MAE: 11246.3896 - val_loss: 10693.3799 - val_r_square: 0.3448 - val_MAE: 10693.3799
Epoch 62/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11255.2012 - r_square: 0.2849 - MAE: 11255.2012 - val_loss: 10717.6152 - val_r_square: 0.3291 - val_MAE: 10717.6152
Epoch 63/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11194.6055 - r_square: 0.2929 - MAE: 11194.6055 - val_loss: 10742.2158 - val_r_square: 0.3674 - val_MAE: 10742.2158
Epoch 64/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11235.2656 - r_square: 0.2880 - MAE: 11235.2656 - val_loss: 10692.4258 - val_r_square: 0.3272 - val_MAE: 10692.4258
Epoch 65/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11183.6260 - r_square: 0.2902 - MAE: 11183.6260 - val_loss: 10882.0107 - val_r_square: 0.3094 - val_MAE: 10882.0107
Epoch 66/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11159.3340 - r_square: 0.2969 - MAE: 11159.3340 - val_loss: 10895.5732 - val_r_square: 0.3043 - val_MAE: 10895.5732
Epoch 67/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11112.8906 - r_square: 0.3017 - MAE: 11112.8906 - val_loss: 10582.6660 - val_r_square: 0.3730 - val_MAE: 10582.6660
Epoch 68/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11136.8467 - r_square: 0.2974 - MAE: 11136.8467 - val_loss: 10721.6504 - val_r_square: 0.3268 - val_MAE: 10721.6504
Epoch 69/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11122.0127 - r_square: 0.2958 - MAE: 11122.0127 - val_loss: 10606.2480 - val_r_square: 0.3286 - val_MAE: 10606.2480
Epoch 70/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11074.6045 - r_square: 0.3060 - MAE: 11074.6045 - val_loss: 10611.7773 - val_r_square: 0.3549 - val_MAE: 10611.7773
Epoch 71/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11078.0225 - r_square: 0.3107 - MAE: 11078.0225 - val_loss: 10635.6172 - val_r_square: 0.3595 - val_MAE: 10635.6172
Epoch 72/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11078.5352 - r_square: 0.3029 - MAE: 11078.5352 - val_loss: 10541.0947 - val_r_square: 0.3446 - val_MAE: 10541.0947
Epoch 73/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11041.8242 - r_square: 0.3052 - MAE: 11041.8242 - val_loss: 10500.5605 - val_r_square: 0.3561 - val_MAE: 10500.5605
Epoch 74/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11046.1426 - r_square: 0.3089 - MAE: 11046.1426 - val_loss: 10516.3516 - val_r_square: 0.3537 - val_MAE: 10516.3516
Epoch 75/100
1164/1164 [==============================] - 4s 4ms/step - loss: 10999.3438 - r_square: 0.3173 - MAE: 10999.3438 - val_loss: 10639.9102 - val_r_square: 0.3549 - val_MAE: 10639.9102
Epoch 76/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11027.4346 - r_square: 0.3102 - MAE: 11027.4346 - val_loss: 10562.1572 - val_r_square: 0.3441 - val_MAE: 10562.1572
Epoch 77/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10999.4346 - r_square: 0.3113 - MAE: 10999.4346 - val_loss: 10512.0547 - val_r_square: 0.3669 - val_MAE: 10512.0547
Epoch 78/100
1164/1164 [==============================] - 4s 4ms/step - loss: 10979.8516 - r_square: 0.3165 - MAE: 10979.8516 - val_loss: 10590.1758 - val_r_square: 0.3528 - val_MAE: 10590.1758
Epoch 79/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10984.8555 - r_square: 0.3136 - MAE: 10984.8555 - val_loss: 10481.4727 - val_r_square: 0.3444 - val_MAE: 10481.4727
Epoch 80/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10987.3311 - r_square: 0.3135 - MAE: 10987.3311 - val_loss: 10514.3223 - val_r_square: 0.3494 - val_MAE: 10514.3223
Epoch 81/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10967.1123 - r_square: 0.3129 - MAE: 10967.1123 - val_loss: 10669.9434 - val_r_square: 0.3903 - val_MAE: 10669.9434
Epoch 82/100
1164/1164 [==============================] - 4s 4ms/step - loss: 10950.3291 - r_square: 0.3182 - MAE: 10950.3291 - val_loss: 10477.1250 - val_r_square: 0.3405 - val_MAE: 10477.1250
Epoch 83/100
1164/1164 [==============================] - 4s 4ms/step - loss: 10927.2051 - r_square: 0.3246 - MAE: 10927.2051 - val_loss: 10489.7129 - val_r_square: 0.3664 - val_MAE: 10489.7129
Epoch 84/100
1164/1164 [==============================] - 4s 4ms/step - loss: 10908.3623 - r_square: 0.3223 - MAE: 10908.3623 - val_loss: 10729.3037 - val_r_square: 0.3449 - val_MAE: 10729.3037
Epoch 85/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10913.5840 - r_square: 0.3248 - MAE: 10913.5840 - val_loss: 10359.3916 - val_r_square: 0.3646 - val_MAE: 10359.3916
Epoch 86/100
1164/1164 [==============================] - 4s 4ms/step - loss: 10884.9385 - r_square: 0.3201 - MAE: 10884.9385 - val_loss: 10469.9473 - val_r_square: 0.3494 - val_MAE: 10469.9473
Epoch 87/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10873.5781 - r_square: 0.3250 - MAE: 10873.5781 - val_loss: 10408.1777 - val_r_square: 0.3779 - val_MAE: 10408.1777
Epoch 88/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10900.3770 - r_square: 0.3184 - MAE: 10900.3770 - val_loss: 10606.2842 - val_r_square: 0.3582 - val_MAE: 10606.2842
Epoch 89/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10869.2227 - r_square: 0.3242 - MAE: 10869.2227 - val_loss: 10447.7686 - val_r_square: 0.3494 - val_MAE: 10447.7686
Epoch 90/100
1164/1164 [==============================] - 4s 4ms/step - loss: 10852.3330 - r_square: 0.3258 - MAE: 10852.3330 - val_loss: 10437.5850 - val_r_square: 0.3550 - val_MAE: 10437.5850
Epoch 91/100
1164/1164 [==============================] - 4s 4ms/step - loss: 10881.0693 - r_square: 0.3262 - MAE: 10881.0693 - val_loss: 10428.6299 - val_r_square: 0.3480 - val_MAE: 10428.6299
Epoch 92/100
1164/1164 [==============================] - 4s 4ms/step - loss: 10868.1543 - r_square: 0.3283 - MAE: 10868.1543 - val_loss: 10277.5508 - val_r_square: 0.3792 - val_MAE: 10277.5508
Epoch 93/100
1164/1164 [==============================] - 4s 4ms/step - loss: 10843.6543 - r_square: 0.3278 - MAE: 10843.6543 - val_loss: 10370.9746 - val_r_square: 0.3504 - val_MAE: 10370.9746
Epoch 94/100
1164/1164 [==============================] - 4s 4ms/step - loss: 10836.8262 - r_square: 0.3242 - MAE: 10836.8262 - val_loss: 10705.8467 - val_r_square: 0.2881 - val_MAE: 10705.8467
Epoch 95/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10816.6572 - r_square: 0.3307 - MAE: 10816.6572 - val_loss: 10442.8047 - val_r_square: 0.3650 - val_MAE: 10442.8047
Epoch 96/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10840.8350 - r_square: 0.3298 - MAE: 10840.8350 - val_loss: 10481.9365 - val_r_square: 0.3367 - val_MAE: 10481.9365
Epoch 97/100
1164/1164 [==============================] - 4s 4ms/step - loss: 10791.9785 - r_square: 0.3359 - MAE: 10791.9785 - val_loss: 10354.4111 - val_r_square: 0.3699 - val_MAE: 10354.4111
Epoch 98/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10796.1973 - r_square: 0.3325 - MAE: 10796.1973 - val_loss: 10261.3535 - val_r_square: 0.3689 - val_MAE: 10261.3535
Epoch 99/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10799.6826 - r_square: 0.3316 - MAE: 10799.6826 - val_loss: 10586.7002 - val_r_square: 0.3640 - val_MAE: 10586.7002
Epoch 100/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10776.9883 - r_square: 0.3335 - MAE: 10776.9883 - val_loss: 10529.2861 - val_r_square: 0.3713 - val_MAE: 10529.2861

In [50]:
model_BN.compile(loss='mean_absolute_error',
              optimizer=OPTIMIZER, metrics=[r_square,'MAE'])

In [52]:
train_3 = model_BN.fit(X_train, y_train, validation_data=(X_test,y_test), epochs=100,batch_size=64)

Epoch 1/100
1164/1164 [==============================] - 6s 5ms/step - loss: 18626.2441 - r_square: -2.2777 - MAE: 18626.2441 - val_loss: 18586.6621 - val_r_square: -2.3023 - val_MAE: 18586.6621
Epoch 2/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18626.0391 - r_square: -2.2712 - MAE: 18626.0391 - val_loss: 18586.5176 - val_r_square: -2.3023 - val_MAE: 18586.5176
Epoch 3/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18625.8672 - r_square: -2.2715 - MAE: 18625.8672 - val_loss: 18586.2207 - val_r_square: -2.3022 - val_MAE: 18586.2207
Epoch 4/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18625.6562 - r_square: -2.2708 - MAE: 18625.6562 - val_loss: 18585.9980 - val_r_square: -2.3022 - val_MAE: 18585.9980
Epoch 5/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18625.4473 - r_square: -2.2731 - MAE: 18625.4473 - val_loss: 18585.7637 - val_r_square: -2.3022 - val_MAE: 18585.7637
Epoch 6/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18625.2227 - r_square: -2.2765 - MAE: 18625.2227 - val_loss: 18585.6621 - val_r_square: -2.3022 - val_MAE: 18585.6621
Epoch 7/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18624.9629 - r_square: -2.2767 - MAE: 18624.9629 - val_loss: 18585.3184 - val_r_square: -2.3021 - val_MAE: 18585.3184
Epoch 8/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18624.6660 - r_square: -2.2782 - MAE: 18624.6660 - val_loss: 18584.9473 - val_r_square: -2.3021 - val_MAE: 18584.9473
Epoch 9/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18624.3496 - r_square: -2.2779 - MAE: 18624.3496 - val_loss: 18584.6270 - val_r_square: -2.3020 - val_MAE: 18584.6270
Epoch 10/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18623.9629 - r_square: -2.2734 - MAE: 18623.9629 - val_loss: 18584.2246 - val_r_square: -2.3020 - val_MAE: 18584.2246
Epoch 11/100
1164/1164 [==============================] - 4s 4ms/step - loss: 18623.5430 - r_square: -2.2736 - MAE: 18623.5430 - val_loss: 18583.8008 - val_r_square: -2.3019 - val_MAE: 18583.8008
Epoch 12/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18623.0332 - r_square: -2.2832 - MAE: 18623.0332 - val_loss: 18583.3848 - val_r_square: -2.3018 - val_MAE: 18583.3848
Epoch 13/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18622.4883 - r_square: -2.2722 - MAE: 18622.4883 - val_loss: 18582.7500 - val_r_square: -2.3018 - val_MAE: 18582.7500
Epoch 14/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18621.8457 - r_square: -2.2819 - MAE: 18621.8457 - val_loss: 18581.9570 - val_r_square: -2.3016 - val_MAE: 18581.9570
Epoch 15/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18621.1133 - r_square: -2.2772 - MAE: 18621.1133 - val_loss: 18581.3535 - val_r_square: -2.3016 - val_MAE: 18581.3535
Epoch 16/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18620.2227 - r_square: -2.2762 - MAE: 18620.2227 - val_loss: 18580.4004 - val_r_square: -2.3014 - val_MAE: 18580.4004
Epoch 17/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18619.2109 - r_square: -2.2782 - MAE: 18619.2109 - val_loss: 18579.1211 - val_r_square: -2.3012 - val_MAE: 18579.1211
Epoch 18/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18618.0039 - r_square: -2.2735 - MAE: 18618.0039 - val_loss: 18577.7324 - val_r_square: -2.3011 - val_MAE: 18577.7324
Epoch 19/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18616.6426 - r_square: -2.2736 - MAE: 18616.6426 - val_loss: 18576.3516 - val_r_square: -2.3009 - val_MAE: 18576.3516
Epoch 20/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18615.0098 - r_square: -2.2712 - MAE: 18615.0098 - val_loss: 18574.7734 - val_r_square: -2.3006 - val_MAE: 18574.7734
Epoch 21/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18613.1016 - r_square: -2.2756 - MAE: 18613.1016 - val_loss: 18572.4922 - val_r_square: -2.3003 - val_MAE: 18572.4922
Epoch 22/100
1164/1164 [==============================] - 5s 5ms/step - loss: 18610.8672 - r_square: -2.2740 - MAE: 18610.8672 - val_loss: 18570.2305 - val_r_square: -2.3000 - val_MAE: 18570.2305
Epoch 23/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18608.2539 - r_square: -2.2770 - MAE: 18608.2539 - val_loss: 18567.2969 - val_r_square: -2.2996 - val_MAE: 18567.2969
Epoch 24/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18605.1680 - r_square: -2.2739 - MAE: 18605.1680 - val_loss: 18563.8438 - val_r_square: -2.2991 - val_MAE: 18563.8438
Epoch 25/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18601.5547 - r_square: -2.2756 - MAE: 18601.5547 - val_loss: 18560.1719 - val_r_square: -2.2986 - val_MAE: 18560.1719
Epoch 26/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18597.2988 - r_square: -2.2731 - MAE: 18597.2988 - val_loss: 18555.0762 - val_r_square: -2.2978 - val_MAE: 18555.0762
Epoch 27/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18592.2812 - r_square: -2.2732 - MAE: 18592.2812 - val_loss: 18550.1836 - val_r_square: -2.2971 - val_MAE: 18550.1836
Epoch 28/100
1164/1164 [==============================] - 5s 5ms/step - loss: 18586.3906 - r_square: -2.2666 - MAE: 18586.3906 - val_loss: 18543.7383 - val_r_square: -2.2962 - val_MAE: 18543.7383
Epoch 29/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18579.4473 - r_square: -2.2730 - MAE: 18579.4473 - val_loss: 18535.9219 - val_r_square: -2.2951 - val_MAE: 18535.9219
Epoch 30/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18571.2754 - r_square: -2.2659 - MAE: 18571.2754 - val_loss: 18527.5801 - val_r_square: -2.2939 - val_MAE: 18527.5801
Epoch 31/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18561.6406 - r_square: -2.2718 - MAE: 18561.6406 - val_loss: 18516.3574 - val_r_square: -2.2923 - val_MAE: 18516.3574
Epoch 32/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18550.3164 - r_square: -2.2578 - MAE: 18550.3164 - val_loss: 18504.4746 - val_r_square: -2.2906 - val_MAE: 18504.4746
Epoch 33/100
1164/1164 [==============================] - 4s 4ms/step - loss: 18536.9531 - r_square: -2.2624 - MAE: 18536.9531 - val_loss: 18489.9316 - val_r_square: -2.2885 - val_MAE: 18489.9316
Epoch 34/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18521.2676 - r_square: -2.2614 - MAE: 18521.2676 - val_loss: 18472.7070 - val_r_square: -2.2860 - val_MAE: 18472.7070
Epoch 35/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18502.9258 - r_square: -2.2508 - MAE: 18502.9258 - val_loss: 18452.9375 - val_r_square: -2.2831 - val_MAE: 18452.9375
Epoch 36/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18481.5742 - r_square: -2.2516 - MAE: 18481.5742 - val_loss: 18430.4297 - val_r_square: -2.2798 - val_MAE: 18430.4297
Epoch 37/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18456.7148 - r_square: -2.2563 - MAE: 18456.7148 - val_loss: 18403.8652 - val_r_square: -2.2758 - val_MAE: 18403.8652
Epoch 38/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18427.8691 - r_square: -2.2443 - MAE: 18427.8691 - val_loss: 18373.2266 - val_r_square: -2.2711 - val_MAE: 18373.2266
Epoch 39/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18394.5312 - r_square: -2.2460 - MAE: 18394.5312 - val_loss: 18337.1055 - val_r_square: -2.2656 - val_MAE: 18337.1055
Epoch 40/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18356.1367 - r_square: -2.2364 - MAE: 18356.1367 - val_loss: 18296.6406 - val_r_square: -2.2594 - val_MAE: 18296.6406
Epoch 41/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18312.0645 - r_square: -2.2266 - MAE: 18312.0645 - val_loss: 18249.5508 - val_r_square: -2.2522 - val_MAE: 18249.5508
Epoch 42/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18261.5801 - r_square: -2.2177 - MAE: 18261.5801 - val_loss: 18198.0879 - val_r_square: -2.2442 - val_MAE: 18198.0879
Epoch 43/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18203.9238 - r_square: -2.2131 - MAE: 18203.9238 - val_loss: 18137.0645 - val_r_square: -2.2345 - val_MAE: 18137.0645
Epoch 44/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18138.4238 - r_square: -2.2019 - MAE: 18138.4238 - val_loss: 18067.7520 - val_r_square: -2.2235 - val_MAE: 18067.7520
Epoch 45/100
1164/1164 [==============================] - 5s 4ms/step - loss: 18064.2305 - r_square: -2.1867 - MAE: 18064.2305 - val_loss: 17987.4609 - val_r_square: -2.2106 - val_MAE: 17987.4609
Epoch 46/100
1164/1164 [==============================] - 5s 4ms/step - loss: 17980.4355 - r_square: -2.1808 - MAE: 17980.4355 - val_loss: 17896.2090 - val_r_square: -2.1957 - val_MAE: 17896.2090
Epoch 47/100
1164/1164 [==============================] - 5s 4ms/step - loss: 17886.5957 - r_square: -2.1662 - MAE: 17886.5957 - val_loss: 17798.4277 - val_r_square: -2.1797 - val_MAE: 17798.4277
Epoch 48/100
1164/1164 [==============================] - 5s 4ms/step - loss: 17781.8711 - r_square: -2.1431 - MAE: 17781.8711 - val_loss: 17682.5254 - val_r_square: -2.1603 - val_MAE: 17682.5254
Epoch 49/100
1164/1164 [==============================] - 5s 4ms/step - loss: 17665.8047 - r_square: -2.1305 - MAE: 17665.8047 - val_loss: 17571.7207 - val_r_square: -2.1414 - val_MAE: 17571.7207
Epoch 50/100
1164/1164 [==============================] - 5s 4ms/step - loss: 17537.8594 - r_square: -2.1040 - MAE: 17537.8594 - val_loss: 17430.7969 - val_r_square: -2.1168 - val_MAE: 17430.7969
Epoch 51/100
1164/1164 [==============================] - 5s 4ms/step - loss: 17398.5254 - r_square: -2.0842 - MAE: 17398.5254 - val_loss: 17296.1016 - val_r_square: -2.0924 - val_MAE: 17296.1016
Epoch 52/100
1164/1164 [==============================] - 5s 4ms/step - loss: 17248.6641 - r_square: -2.0575 - MAE: 17248.6641 - val_loss: 17130.6074 - val_r_square: -2.0631 - val_MAE: 17130.6074
Epoch 53/100
1164/1164 [==============================] - 5s 4ms/step - loss: 17088.1680 - r_square: -2.0283 - MAE: 17088.1680 - val_loss: 16970.8223 - val_r_square: -2.0329 - val_MAE: 16970.8223
Epoch 54/100
1164/1164 [==============================] - 5s 4ms/step - loss: 16918.0332 - r_square: -1.9997 - MAE: 16918.0332 - val_loss: 16815.9258 - val_r_square: -2.0034 - val_MAE: 16815.9258
Epoch 55/100
1164/1164 [==============================] - 5s 4ms/step - loss: 16738.9746 - r_square: -1.9636 - MAE: 16738.9746 - val_loss: 16625.0391 - val_r_square: -1.9657 - val_MAE: 16625.0391
Epoch 56/100
1164/1164 [==============================] - 4s 4ms/step - loss: 16552.7363 - r_square: -1.9275 - MAE: 16552.7363 - val_loss: 16442.0039 - val_r_square: -1.9280 - val_MAE: 16442.0039
Epoch 57/100
1164/1164 [==============================] - 5s 4ms/step - loss: 16357.8428 - r_square: -1.8866 - MAE: 16357.8428 - val_loss: 16232.8604 - val_r_square: -1.8848 - val_MAE: 16232.8604
Epoch 58/100
1164/1164 [==============================] - 5s 4ms/step - loss: 16158.0234 - r_square: -1.8455 - MAE: 16158.0234 - val_loss: 16032.3027 - val_r_square: -1.8413 - val_MAE: 16032.3027
Epoch 59/100
1164/1164 [==============================] - 5s 4ms/step - loss: 15955.8555 - r_square: -1.8002 - MAE: 15955.8555 - val_loss: 15840.7256 - val_r_square: -1.7953 - val_MAE: 15840.7256
Epoch 60/100
1164/1164 [==============================] - 5s 5ms/step - loss: 15754.9707 - r_square: -1.7571 - MAE: 15754.9707 - val_loss: 15590.9668 - val_r_square: -1.7414 - val_MAE: 15590.9668
Epoch 61/100
1164/1164 [==============================] - 6s 5ms/step - loss: 15551.0430 - r_square: -1.7137 - MAE: 15551.0430 - val_loss: 15429.1338 - val_r_square: -1.7041 - val_MAE: 15429.1338
Epoch 62/100
1164/1164 [==============================] - 5s 4ms/step - loss: 15346.8496 - r_square: -1.6655 - MAE: 15346.8496 - val_loss: 15240.8848 - val_r_square: -1.6573 - val_MAE: 15240.8848
Epoch 63/100
1164/1164 [==============================] - 5s 4ms/step - loss: 15142.1611 - r_square: -1.6143 - MAE: 15142.1611 - val_loss: 14986.4424 - val_r_square: -1.5898 - val_MAE: 14986.4424
Epoch 64/100
1164/1164 [==============================] - 5s 5ms/step - loss: 14942.8896 - r_square: -1.5644 - MAE: 14942.8896 - val_loss: 14817.8584 - val_r_square: -1.5507 - val_MAE: 14817.8584
Epoch 65/100
1164/1164 [==============================] - 5s 4ms/step - loss: 14744.9785 - r_square: -1.5147 - MAE: 14744.9785 - val_loss: 14605.3281 - val_r_square: -1.4991 - val_MAE: 14605.3281
Epoch 66/100
1164/1164 [==============================] - 5s 4ms/step - loss: 14552.5635 - r_square: -1.4652 - MAE: 14552.5635 - val_loss: 14368.3018 - val_r_square: -1.4369 - val_MAE: 14368.3018
Epoch 67/100
1164/1164 [==============================] - 5s 4ms/step - loss: 14362.3828 - r_square: -1.4191 - MAE: 14362.3828 - val_loss: 14175.2129 - val_r_square: -1.3774 - val_MAE: 14175.2129
Epoch 68/100
1164/1164 [==============================] - 5s 4ms/step - loss: 14179.8643 - r_square: -1.3682 - MAE: 14179.8643 - val_loss: 14022.1387 - val_r_square: -1.3369 - val_MAE: 14022.1387
Epoch 69/100
1164/1164 [==============================] - 5s 4ms/step - loss: 14000.7500 - r_square: -1.3208 - MAE: 14000.7500 - val_loss: 13882.6904 - val_r_square: -1.3005 - val_MAE: 13882.6904
Epoch 70/100
1164/1164 [==============================] - 4s 4ms/step - loss: 13832.4941 - r_square: -1.2726 - MAE: 13832.4941 - val_loss: 13699.4258 - val_r_square: -1.2517 - val_MAE: 13699.4258
Epoch 71/100
1164/1164 [==============================] - 5s 4ms/step - loss: 13671.7109 - r_square: -1.2283 - MAE: 13671.7109 - val_loss: 13596.3887 - val_r_square: -1.2184 - val_MAE: 13596.3887
Epoch 72/100
1164/1164 [==============================] - 5s 4ms/step - loss: 13516.5605 - r_square: -1.1821 - MAE: 13516.5605 - val_loss: 13302.5000 - val_r_square: -1.1274 - val_MAE: 13302.5000
Epoch 73/100
1164/1164 [==============================] - 5s 4ms/step - loss: 13364.9775 - r_square: -1.1397 - MAE: 13364.9775 - val_loss: 13245.8613 - val_r_square: -1.1104 - val_MAE: 13245.8613
Epoch 74/100
1164/1164 [==============================] - 5s 5ms/step - loss: 13227.3301 - r_square: -1.0944 - MAE: 13227.3301 - val_loss: 13088.3291 - val_r_square: -1.0670 - val_MAE: 13088.3291
Epoch 75/100
1164/1164 [==============================] - 5s 4ms/step - loss: 13088.2109 - r_square: -1.0521 - MAE: 13088.2109 - val_loss: 12920.2705 - val_r_square: -1.0378 - val_MAE: 12920.2705
Epoch 76/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12943.3584 - r_square: -1.0086 - MAE: 12943.3584 - val_loss: 12720.7021 - val_r_square: -0.9588 - val_MAE: 12720.7021
Epoch 77/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12835.5146 - r_square: -0.9708 - MAE: 12835.5146 - val_loss: 12654.3213 - val_r_square: -0.9277 - val_MAE: 12654.3213
Epoch 78/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12721.7676 - r_square: -0.9303 - MAE: 12721.7676 - val_loss: 12398.0645 - val_r_square: -0.8380 - val_MAE: 12398.0645
Epoch 79/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12626.8232 - r_square: -0.8987 - MAE: 12626.8232 - val_loss: 12372.3057 - val_r_square: -0.8457 - val_MAE: 12372.3057
Epoch 80/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12495.0566 - r_square: -0.8612 - MAE: 12495.0566 - val_loss: 12318.2246 - val_r_square: -0.8410 - val_MAE: 12318.2246
Epoch 81/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12382.6602 - r_square: -0.8178 - MAE: 12382.6602 - val_loss: 12169.8584 - val_r_square: -0.8095 - val_MAE: 12169.8584
Epoch 82/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12291.9844 - r_square: -0.7901 - MAE: 12291.9844 - val_loss: 11978.6719 - val_r_square: -0.7497 - val_MAE: 11978.6719
Epoch 83/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12132.7266 - r_square: -0.7357 - MAE: 12132.7266 - val_loss: 11783.2598 - val_r_square: -0.6593 - val_MAE: 11783.2598
Epoch 84/100
1164/1164 [==============================] - 5s 4ms/step - loss: 12054.5117 - r_square: -0.7081 - MAE: 12054.5117 - val_loss: 11766.9834 - val_r_square: -0.6648 - val_MAE: 11766.9834
Epoch 85/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11952.9521 - r_square: -0.6780 - MAE: 11952.9521 - val_loss: 11607.4736 - val_r_square: -0.6072 - val_MAE: 11607.4736
Epoch 86/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11842.7637 - r_square: -0.6439 - MAE: 11842.7637 - val_loss: 11381.2988 - val_r_square: -0.5585 - val_MAE: 11381.2988
Epoch 87/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11726.2910 - r_square: -0.6124 - MAE: 11726.2910 - val_loss: 11219.5898 - val_r_square: -0.5138 - val_MAE: 11219.5898
Epoch 88/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11668.6484 - r_square: -0.5972 - MAE: 11668.6484 - val_loss: 11480.9717 - val_r_square: -0.5662 - val_MAE: 11480.9717
Epoch 89/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11562.4902 - r_square: -0.5607 - MAE: 11562.4902 - val_loss: 11294.6855 - val_r_square: -0.5299 - val_MAE: 11294.6855
Epoch 90/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11485.4072 - r_square: -0.5379 - MAE: 11485.4072 - val_loss: 11184.6846 - val_r_square: -0.5185 - val_MAE: 11184.6846
Epoch 91/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11430.0684 - r_square: -0.5187 - MAE: 11430.0684 - val_loss: 11053.6816 - val_r_square: -0.4437 - val_MAE: 11053.6816
Epoch 92/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11372.4316 - r_square: -0.5044 - MAE: 11372.4316 - val_loss: 10969.2441 - val_r_square: -0.4039 - val_MAE: 10969.2441
Epoch 93/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11316.2588 - r_square: -0.4905 - MAE: 11316.2588 - val_loss: 10843.2627 - val_r_square: -0.4319 - val_MAE: 10843.2627
Epoch 94/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11213.9062 - r_square: -0.4675 - MAE: 11213.9062 - val_loss: 11191.0117 - val_r_square: -0.4682 - val_MAE: 11191.0117
Epoch 95/100
1164/1164 [==============================] - 4s 4ms/step - loss: 11189.9609 - r_square: -0.4556 - MAE: 11189.9609 - val_loss: 10889.8955 - val_r_square: -0.3685 - val_MAE: 10889.8955
Epoch 96/100
1164/1164 [==============================] - 5s 5ms/step - loss: 11099.5518 - r_square: -0.4363 - MAE: 11099.5518 - val_loss: 10705.3311 - val_r_square: -0.2667 - val_MAE: 10705.3311
Epoch 97/100
1164/1164 [==============================] - 5s 4ms/step - loss: 11083.2227 - r_square: -0.4344 - MAE: 11083.2227 - val_loss: 10884.5264 - val_r_square: -0.4310 - val_MAE: 10884.5264
Epoch 98/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10996.4727 - r_square: -0.4052 - MAE: 10996.4727 - val_loss: 10678.3779 - val_r_square: -0.3913 - val_MAE: 10678.3779
Epoch 99/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10990.6465 - r_square: -0.4032 - MAE: 10990.6465 - val_loss: 11012.9707 - val_r_square: -0.4273 - val_MAE: 11012.9707
Epoch 100/100
1164/1164 [==============================] - 5s 4ms/step - loss: 10950.2949 - r_square: -0.3918 - MAE: 10950.2949 - val_loss: 10550.7871 - val_r_square: -0.3180 - val_MAE: 10550.7871